vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 May 2016 00:53:45 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|CENCOL\\300885286
vti_modifiedby:SR|CENCOL\\300885286
vti_timecreated:TR|27 May 2016 00:53:45 -0000
vti_cacheddtm:TX|27 May 2016 00:53:45 -0000
vti_filesize:IR|670
vti_cachedlinkinfo:VX|S|../amazing-Water-Drops-Macro.jpg
vti_cachedsvcrellinks:VX|FSUS|semester2/COMP_125_001/Assignment_01/Assignment_01/amazing-Water-Drops-Macro.jpg
vti_backlinkinfo:VX|semester2/COMP_125_001/Assignment_01/Assignment_01/New\\ folder/Assignment-01.html semester2/COMP_125_001/Assignment_01/Assignment_01/New\\ folder/form1.html Assignment_01/New\\ folder/Assignment_01.html semester2/COMP_125_001/Assignment_01/Assignment_01/New\\ folder/Imperial.html semester2/COMP_125_001/Assignment_01/Assignment_01/New\\ folder/Imperial_01.html
