vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jun 2016 23:53:37 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|CENCOL\\300885286
vti_modifiedby:SR|CENCOL\\300885286
vti_timecreated:TR|20 Jun 2016 19:50:30 -0000
vti_backlinkinfo:VX|rough/Assignment03/Assignment_03.html
vti_nexttolasttimemodified:TW|20 Jun 2016 23:53:11 -0000
vti_cacheddtm:TX|20 Jun 2016 23:53:37 -0000
vti_filesize:IR|3749
vti_cachedlinkinfo:VX|S|images/fish_wallpaper.jpg
vti_cachedsvcrellinks:VX|FSUS|Assignment03/images/fish_wallpaper.jpg
