vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Jun 2016 20:30:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|CENCOL\\300885286
vti_modifiedby:SR|CENCOL\\300885286
vti_timecreated:TR|16 Jun 2016 20:30:48 -0000
vti_cacheddtm:TX|16 Jun 2016 20:30:48 -0000
vti_filesize:IR|1543
vti_backlinkinfo:VX|rough/Assignment03/zoom.htm
