vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Jun 2016 19:09:03 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|CENCOL\\300885286
vti_modifiedby:SR|CENCOL\\300885286
vti_timecreated:TR|03 Jun 2016 19:09:03 -0000
vti_cacheddtm:TX|03 Jun 2016 19:09:03 -0000
vti_filesize:IR|1393
vti_cachedlinkinfo:VX|S|kitten_ball_thread_white_background_95135_602x339.jpg S|347922.jpg S|images.jpg
vti_cachedsvcrellinks:VX|FSUS|Assignment_02\\ for\\ java/kitten_ball_thread_white_background_95135_602x339.jpg FSUS|Assignment_02\\ for\\ java/347922.jpg FSUS|Assignment_02\\ for\\ java/images.jpg
vti_backlinkinfo:VX|Assignment_02\\ for\\ java/AssignmenT_02.html
